body {
  background-color: rgb(51, 153, 201);
}

#main-container{
  border-style: solid;
  font-size: x-large;
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

#lyric-container{
  text-align: left;
}

#mika-photo{
  width: 350px;
  height: 200px;
  float: center;
}

.color-container{
  border-radius: 50%;
  display: inline-block;
  height: 150px;
  width: 250px;
  margin: 0 2em;
  color: white;
  padding: 100px 0 0 0;
}